/* Import google fonts from the website www.fonts.gooogle.com */ 
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Oswald:wght@200..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* Apply Asterisk wildcard selector to overide defult styles added by the browser */
* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
/* General body styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General project styles */
    color: #3a3a3a;
    font-family: sans-serif;
}

/* Header */
header {
    background-color: darkseagreen;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0px 5px 5px #3a3a3a;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

h1 {
    font-family: 'Oswald' , sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.logo {
    border-radius: 50%;
    display: flex;
}
/* Main Content */
main {
    background-color: rgba(43, 63, 42, 0.588);
    /*Make main content take up surplus space*/
    flex: 1 0 auto;
} 

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid;
}

/* Footer */
footer {
    background-color: rgba(8, 43, 29, 0.7);
    padding-top: 10px;
}
.container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content {
    width: 25%;
}

h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
}
.footer-content p {
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footer-content ul {
    text-align: center;
}
.list {
    padding: 0;
}
.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50% -50%);
    left: 50%;
    top: 106%;
    height: 2px;
    background: azure;
    transition-duration: .5s;
}

.list li:hover::before {
    width: 70px;
}
.social-icons {
    text-align: center;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i {
    color: white;
    font-size: 25px;
}
a {
    text-decoration: none;
}
a:hover {
    color: #f18930;
}
.social-icons i:hover {
    color: #f18930;
}
.bottom-bar {
    background: lightseagreen;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}
.bottom-bar p {
    color: white;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}