/* Import google fonts from the website www.fonts.gooogle.com */ 
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Oswald:wght@200..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* Apply Asterisk wildcard selector to overide defult styles added by the browser */
* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
/* General body styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General project styles */
    color: #3a3a3a;
    font-family: sans-serif;
}

/* Header */
header {
    background-color: darkseagreen;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
}
h1 {
    font-family: 'Oswald' , sans-serif;
}
.logo {
    border-radius: 50%;
    display: flex;
}
/* Main Content */
main {
    background-color: darkgrey;
    /*Make main content take up surplus space*/
    flex: 1 0 auto;
} 